<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header"></header>

<main id="article-main">
    <header>1번글</header>

    <aside>
        <p>writer</p>
        <p><a href="mailto:goodjob0412@gmail.com">goodjob0412@gmail.com</a>goodjob0412@gmail.com</p>
        <p>2023-01-04</p>
        <p>#java</p>
    </aside>

    <section>
        <p>본문</p>
        <br /><br />
        <div>
            <form>
                <label>댓글</label>
                <textarea placeholder="댓글 쓰기"></textarea>
                <button type="submit">쓰기</button>
            </form>
            댓글 나오는 부분
            <ul>
                <li>
                    <strong>writer</strong>
                    <time><small>2023-01-04</small></time>
                    <p>
                        댓글 내용ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
                    </p>
                </li>
                <li>
                    <strong>writer2</strong>
                    <time><small>2023-01-03</small></time>
                    <p>
                        댓글 내용2
                    </p>
                </li>
            </ul>
        </div>
    </section>

    <nav>
        <a href="#">이전</a>
        <a href="#">다음</a>
    </nav>
</main>

<footer id="footer"></footer>

</body>
</html>